<nav class="p-pagination" aria-label="ページ送り">
  <div class="p-pagination__inner">

    <a href="#" class="p-pagination__arrow -prev" aria-label="前のページへ移動"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 37"><path fill="rgb(12, 13, 10)" d="M19.049,35.410 L18.341,36.117 L0.942,18.717 L1.140,18.520 L0.938,18.318 L18.338,0.919 L19.045,1.626 L2.154,18.517 L19.049,35.410 Z"/></svg></a>

    <ul class="p-pagination__list">
      <li class="p-pagination__item"><a class="p-pagination__link" href="#" aria-current="false">1</a></li>
      <li class="p-pagination__item -ellipsis"><span>...</span></li>
      <li class="p-pagination__item"><a class="p-pagination__link" href="#" aria-current="false">3</a></li>
      <li class="p-pagination__item"><a class="p-pagination__link" href="#" aria-current="page">4</a></li>
      <li class="p-pagination__item"><a class="p-pagination__link" href="#" aria-current="false">5</a></li>
      <li class="p-pagination__item -ellipsis"><span>...</span></li>
      <li class="p-pagination__item"><a class="p-pagination__link" href="#" aria-current="false">12</a></li>
    </ul>

    <a href="#" class="p-pagination__arrow -next" aria-label="次のページへ移動"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 37"><path fill="rgb(12, 13, 10)" d="M19.062,18.713 L1.662,36.114 L0.955,35.406 L17.846,18.514 L0.951,1.622 L1.658,0.915 L19.058,18.313 L18.860,18.511 L19.062,18.713 Z"/></svg></a>
  </div>
</nav>